body{
	background-color:rgb(26, 24, 21);
	font-family: Geneva, Verdana, sans-serif;
}

.head {
	border: 3px solid rgb(94, 93, 89);
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgb(208, 205, 197);
	background-color:rgba(26, 24, 21, 84%);
	transition: all 0.5s ease;
	max-width:100%;
	height:auto;
}
.head:hover{
	background-color:rgba(26, 24, 21, 99%);
	display:block;
}
.head table {
    width: 100%;
    max-width: 1200px; 
    height: 80px; 
    margin: 0 auto; 
    table-layout: fixed; 
}

.head th {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.logo{
    display:block;  
	width:105px;
	max-width:100%;
	height:auto;
}

.textop{
	color: rgb(190, 188, 185);
	font-size:17px;
	text-decoration:none;
	transition: text-decoration 1s ease;
	max-width:100%;
	height:auto;
}

.mimg{
	width:30px;
	max-width:100%;
	height:auto;
}

.textop0{
	color: rgb(190, 188, 185);
	font-size:17px;
	text-decoration:none;
	transition: text-decoration 1s ease;
	max-width:100%;
	height:auto;
}

.mimg0{
	width:30px;
	max-width:100%;
	height:auto;
}

.textop1{
	color: rgb(190, 188, 185);
	font-size:17px;
	text-decoration:none;
	transition: text-decoration 0.3s ease;
	max-width:100%;
	height:auto;
}

.mimg1{
	width:28px;
	max-width:100%;
	height:auto;
}

.textop2{
	color: rgb(190, 188, 185);
	font-size:17px;
	text-decoration:none;
	transition: text-decoration 0.3s ease;
	max-width:100%;
	height:auto;
}

.mimg2{
	width:27px;
	max-width:100%;
	height:auto;
}

.textop:hover, .textop0:hover, .textop1:hover, .textop2:hover{
	text-decoration:underline;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
	display:block;
}
p{
	color:rgb(209, 204, 194)
}
h1{
	color:rgb(209, 204, 194)
}
div{
	background-color:rgb(26, 24, 21);
	
}
footer{
	padding: 15px;
	background-color:rgb(23, 21, 18);
	height:80px;
	border: 10px solid rgb(21, 19, 16);
	max-width:100%;
	height:auto;
}
.insta{
	width: 30px; 
	transition: all 1s ease;
	max-width:100%;
	height:auto;
}
.insta:hover{
	content: url('image/instacu.png');

}
.face{
	width: 30px; 
	transition: all 1s ease;
	max-width:100%;
	height:auto;
}
.face:hover{
	content: url('image/facebookcu.png')
}
